<!DOCTYPE html>
<html>
    <head>
        <title>Search Books</title>
    </head>
    <body>
        <h1>Search Books</h1>
        <form action="/search" method="post">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="author">Author:</label><br>
            <input type="text" id="author" name="author"><br>
            <label for="min_price">Min Price:</label><br>
            <input type="text" id="min_price" name="min_price"><br>
            <label for="max_price">Max Price:</label><br>
            <input type="text" id="max_price" name="max_price"><br>
            <input type="submit" value="Search">
        </form>
        <a href="/">Back to all books</a>
    </body>
</html>
