<!DOCTYPE html>
<html>
    <head>
        <title>Update {{ book.title }}</title>
    </head>
    <body>
        <h1>Update {{ book.title }}</h1>
        <form action="/update_book/{{ book.id }}" method="post">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" value="{{ book.title }}"><br>
            <label for="author">Author:</label><br>
            <input type="text" id="author" name="author" value="{{ book.author }}"><br>
            <label for="description">Description:</label><br>
            <input type="text" id="description" name="description" value="{{ book.description }}"><br>
            <label for="price">Price:</label><br>
            <input type="text" id="price" name="price" value="{{ book.price }}"><br>
            <label for="stock">Stock:</label><br>
            <input type="text" id="stock" name="stock" value="{{ book.stock }}"><br>
            <input type="submit" value="Update">
        </form>
        <a href="/book/{{ book.id }}">Back to book</a>
    </body>
</html>
